<!DOCTYPE html>
<html>
<head>
	{{>head}}
	<title>Stephen Doe</title>
	<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

	
		{{{body}}}
	

</body>
</html>