<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/form-elements.css">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <title>Stephen Doe</title>
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <div class="container">
                <ul class="nav nav-pills pull-right" role="tablist">
                    <li><a href="home">Home</a></li>
                    <li><a href="portfolio">Portfolio</a></li>
                    <li class="active"><a href="contact">Contact</a></li>
                </ul>
               <div class="page-header">
                        <h1 id="contactMe"></h1>
                        </div>
                        <div class="contactUs">
                        <form class="formContactUs" role="form"
                          action="/process?form=contactus" method="POST">
                         
                          <input type="hidden" name="_csrf" value="{{csrf}}">
                         
                          <div class="form-group">
                            <label class="sr-only" for="contact-email">Email</label>
                            <input type="text" name="email" placeholder="Email..." class="contact-email form-control" id="contact-email">
                        </div> <!-- End of form-group -->
                         
                          <div class="form-group">
                            <label for="fieldQues" class="col-sm-2 control-label">
                            Message</label>
                            <div class="form-group">
                            <label class="sr-only" for="contact-message"></label>
                            <textarea name="ques" placeholder="Message..." class="contact-message form-control" id="contact-message"></textarea>
                        </div>

                            </div>
                          </div> <!-- End of form-group -->
                         
                          <button type="submit" class="btn">Send message</button> <!-- End of form-group -->
                        </form>
                        </div>
                        </div>

            <div id="footer">
            <div id="footerText
            ">Copyright © Stephen Doe 2016
                <a href="https://www.linkedin.com/in/stephen-doe-094ab4123" target="_blank">
                    <img src="/images/linkedin.png" id="linkedinIcon"></a>
                <a href="https://github.com/IamTh3Walrus" target="_blank">
                    <img src="/images/octocat.jpg" id="githubIcon">
                </a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="/javascript/jquery-1.12.4.min.js"></script>
    <script src="/javascript/typed.js"></script>
    <script type="text/javascript" src="/javascript/contact.js"></script>
    <script type="text/javascript" src="/javascript/javascript.js"></script>
</body>

</html>
