<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Share+Tech+Mono" rel="stylesheet">
    <title>Stephen Doe</title>
</head>

<body>
    <div id="wrapper">
        <div id="content">
            <div class="container">
                <div class="row">
                    <ul class="nav nav-pills pull-right" role="tablist">
                        <li class="active"><a href="home">Home</a></li>
                        <li><a href="portfolio">Portfolio</a></li>
                        <li><a href="contact">Contact</a></li>
                    </ul>
                </div>
                <h1 id="aboutMe"></h1>
                <div class="container-fluid">
                    <div class="row mainRow">
                        <div class="col-sm-4">
                            <img src="/images/mainPage.jpg" class="img-circle" alt="Main Page Image" id="mainPageImage" width="304" height="236">
                        </div>
                        <div class="col-sm-4" id="profilePanel">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <p class="sectionp">I"ve never been a big fan of talking about myself in the third person, so I won't do that here.</p>
                                    <p class="sectionp">My name is Stephen Doe and I'm a freelance writer with more than eight years of experience. As a web site content generator I have knowledge in SEO or "Search Engine Optimization", which has helped my clients successfully drive traffic to their websites.</p>
                                    <p class="sectionp">Because I've always had a desire to work in the emerging field of technology, I attended Rutgers Coding Bootcamp, an intense six month course where I received a certificate in the skills of HTML, CSS, JavaScript and JQuery among other coding languages.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <img src="/images/mainPage2.jpg" class="img-circle" alt="Main Page Image" id="mainPageImage2" width="304" height="236">
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div id="footerText
            ">Copyright © Stephen Doe 2016
                    <a href="https://www.linkedin.com/in/stephen-doe-094ab4123" target="_blank">
                        <img src="/images/linkedin.png" id="linkedinIcon"></a>
                    <a href="https://github.com/IamTh3Walrus" target="_blank">
                        <img src="/images/octocat.jpg" id="githubIcon">
                    </a>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.js"></script>
        <script type="text/javascript" src="/javascript/jquery-1.12.4.min.js"></script>
        <script src="/javascript/typed.js"></script>
        <script type="text/javascript" src="/javascript/javascript.js"></script>
</body>

</html>
